html
    head
        link(rel="stylesheet" href="/css/styles.css")
    body 
        h1 Kim's Convenience 
        h2(class="secondPage") Season Episodes 
        table 
            tr 
                th(class='number') No.
                th Title 
                th Director 
            tr 
                for episode in season.episodes
                    td(class='number')= episode.number
                    td= episode.title 
                    td= episode.director
                    tr 
                        td(colspan='3')= episode.synopsis